/* 圖片容器的樣式 */
.image-container {
  position: relative; /* 設置為相對定位，以便絕對定位元素相對於此元素定位 */
  width: 400px; /* 設置圖片容器的寬度 */
  height: 200px; /* 設置圖片容器的高度 */
  overflow: hidden; /* 隱藏圖片容器的溢出部分 */
}

/* 圖片的樣式 */
.image-container img {
  position: absolute; /* 設置為絕對定位，以便動態調整圖片的位置 */
  top: 0; /* 設置圖片的頂部位置 */
  left: 0; /* 設置圖片的左側位置 */
  width: 100vw; /* 設置圖片的寬度，以便縮放圖片 */
  height: 100vh; /* 設置圖片的高度，以便縮放圖片 */
  transition: transform 1s ease; /* 設置過渡動畫效果 */
}

/* 全屏圖片容器的樣式 */
.fullscreen-image-container ,.fullscreen-image-newtaipei,.fullscreen-image-japan,.fullscreen-image-model,.fullscreen-image-cat,.fullscreen-image-sea{
  position: fixed; /* 設置為固定定位，以便圖片容器不會隨頁面滾動 */
  top: 0; /* 設置圖片容器的頂部位置 */
  left: 0; /* 設置圖片容器的左側位置 */
  width: 100%; /* 設置圖片容器的寬度 */
  height: 100%; /* 設置圖片容器的高度 */
  background-color: white; 
  /* 設置背景顏色 */
  display: flex; /* 設置彈性容器，使其內部元素垂直和水平居中 */
  justify-content: center;
  align-items: center;
  animation: animate__fadeIn;
  animation-duration: 2s
}

/* 全屏圖片的樣式 */
.fullscreen-image-container img,.fullscreen-image-newtaipei img, .fullscreen-image-japan img,.fullscreen-image-model img,.fullscreen-image-sea img{
  max-width: 100%; /* 設置圖片的最大寬度，以便縮放圖片 */
  max-height: 100%; /* 設置圖片的最大高度，以便縮放圖片 */
}

/* 關閉按鈕的樣式 */
.fullscreen-image-close {
  position: absolute; /* 設置為絕對定位，以便調整關閉按鈕的位置 */
  top: 30px; /* 右上角位置 */
  right: 150px;
  background-color: transparent; /* 設置背景顏色為透明 */
  border: none; /* 去掉邊框 */
  color: gray; /* 設置文字顏色為白色 */
  font-size: 24px; /* 設置文字大小 */
  cursor: pointer; /* 設置為指針類型，以便用戶可以點擊 */
}
